// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.about {
  margin-top: 50px;
  margin-bottom: 330px;
}

.dash {
  margin-top: 50px;
  margin-bottom: 300px;
}